<!DOCTYPE html>
<head>
    <title>Hello</title>
</head>
<body>
    <h1>Name: </h1>
    <form action="/firestore" method="post">
        <input type="text" name="name">
        <button type="submit">Save</button>
    </form>
</body>